@media all and (max-width: 767px) {
  .container {
    max-width: 720px;
  }

  .wrapper-mobile-out {
    padding: 0;
  }

  .wrapper-mobile-in {
    padding: 0 25px;
  }

  .mobile-out-767 {
    display: none;
  }

  .mobile-burger {
    display: block;
  }

  .header-ul {
    margin: 50px 0;
  }

  .subject-shot-text {
    margin-top: 70px;
    margin-top: 50px;
  }

  .margintp70 {
    margin-left: 30px;
  }

  .circle-text {
    font-size: 13px;
    top: 28px;
    right: -30px;
  }

  .cup-spoon-photo {
    left: -30%;
    width: 235px;
  }

  .we-do-left-part {
    max-width: 100%;
    padding-right: 0px;
  }

  .number-text {
    margin-right: 35px;
    font-size: 110px;
    font-size: 90px;
    margin-right: 0px;
  }

  .subject-shot-descr {
    margin-top: 0px;
  }

  .main-text {
    font-size: 25px;
    margin-top: 0px;
  }

  .we-do-right-part {
    top: 15px;
  }

  .page-one-photo1 {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin-top: 35px;
    padding-right: 0px;
  }

  .page-one-photo2 {
    max-width: 35%;
    width: 100%;
    margin-top: 0px;
  }

  .we-do-real-photos {
    margin-top: 15px;
  }

  .we-do-real-descr {
    margin-top: 23px;
    flex-direction: column;
    text-align: center;
  }

  .we-do-deteil-photos {
    margin-top: 20px;
  }

  .shot-success-body {
    margin-top: 70px;
  }

  .h3line-hieght {
    width: 375px;
    margin-top: -10px;
    max-width: 100%;
  }

  .shot-success-photos {
    max-width: 35%;
  }

  .photoparat-pink {
    width: 145px;
    top: -80px;
    right: -70px;
    width: 145px;
    top: -140px;
    left: -75px;
  }

  .photoparat-grey {
    display: none;
  }

  .arrow-left {
    width: 60px;
  }

  .arrow-right {
    width: 60px;
  }

  .seaction-contact {
    flex-direction: column;
    margin-top: 30px;
  }

  .contact-text-cont {
    max-width: 100%;
  }

  .contact-h1-text {
    display: flex;
    justify-content: center;
  }

  .contact-h3-text {
    display: flex;
    justify-content: center;
  }

  .inside-form {
    display: flex;
    justify-content: center;
  }

  .form-container {
    margin-top: 20px;
    max-width: 100%;
    width: 100%;
  }

  .footer-ul {
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .link-footer {
    margin-right: 60px;
    margin: 0px 25px;
  }

  .display {
    flex-direction: column;
    margin-left: 0px;
  }

  .footer-meny {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer-img {
    margin-top: 0px;
    margin-bottom: 70px;
    max-width: 100%;
    width: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .photo-70-text {
    max-width: 100%;
    text-align: start;
    margin-top: 50px;
  }

  .circle-mobile {
    margin-top: -20px;
  }

  .h1-text {
    font-size: 36px;
    text-align: center;
  }

  .circle {
    margin-top: 0px;
    width: 70px;
    height: 70px;

    &:hover {
      .arrow-left {
        left: -65px;
      }

      .arrow-right {
        right: -65px;
      }
    }
  }

  .we-real-coloum-photos {
    padding-left: 35px;
  }

  .we-do-deteil {
    margin-top: 10px;
  }

  .link {
    font-size: 14px;
  }

  .text-coloum {
    width: 260px;
  }

  .detail-photo-right {
    padding-left: 35px;
    max-width: 100%;
    padding-left: 0px;
  }

  .photoparat-blue {
    top: 0px;
    left: 0px;
  }

  .section-success {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }

    padding-bottom: 50px;
  }

  .seaction-gelery {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }

  .gelery-text-cont {
    margin-top: 25px;
    max-width: 100%;
    width: 100%;
  }

  .h3-text {
    margin-top: 15px;
    text-align: center;
    width: 100%;
    font-size: 18px;
  }

  .subject-text-mobile {
    text-align: start;
    width: 80%;
  }

  .gelery-photo {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .seactions-2btn {
    margin-top: 30px;
  }

  .descr-text {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .wuy-wee-text {
    margin-top: -20px;
  }

  .mobile-out {
    display: none;
  }

  .mobile-in {
    display: flex;
    margin-top: 0px;
  }

  .we-do--desc1 {
    max-width: 100%;
  }

  .photo-70-photos {
    max-width: 0%;
  }

  #form {
    .form-group {
      padding-left: 30px;
      margin-top: 30px;
    }
  }

  .add--for-cont {
    margin-top: 130px;
  }

  .we-do--desc2 {
    max-width: 100%;
    width: 100%;
  }

  .we-do--desc3 {
    max-width: 100%;
  }

  .main {
    padding-top: 50px;
  }

  .subj-shot-page {
    padding-top: 25px;
  }

  .we-do-simpl {
    margin-top: 85px;
  }

  .media-425 {
    margin-top: 8px;
  }
  page-one-photo1 {
    max-width: 100%;
    padding-right: 0px;
  }
}