.footer-menu {
  max-width: 50%;
  width: 100%;
}

.footer-ul {
  display: flex;
  list-style: none;
  margin-top: 110px;
  margin-bottom: 70px;
  color: @black;
}

.link-footer {
  color:@black;
  display: flex;
  list-style: none;
  font-size: 18px;
  text-decoration: none;
  margin-right: 100px;
}

.footer-img {
  margin-top: 100px;
  margin-bottom: 70px;
  max-width: 50%;
  width: 100%;
  margin-left: 180px;
}

.footer-li-img {
  margin: 0 37px;
}

.footer-img-ul {
  display: flex;
  list-style: none;
}
