* {
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}

body {
  font-size: 15px;
  line-height: 1.2;
  color: #666;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
.container {
  position: relative;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  padding: 0 25px;
}

.only-img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
button.circle span::after {
  content: "";
  position: absolute;
  right: -45px;
  width: 41px;
  height: 5px;
  background-image: url("photo/arrow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.4s ease-in-out;
}
.two-circles {
  position: relative;
  margin: auto;
  display: flex;
  padding: 0 10px;
}
.margintp70 {
  margin-top: 30px;
}

.circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid;
  border-color: #000000;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease-in-out;
}
.circle-text {
  transition-duration: 0.8s;
}

.mobile-in {
  display: none;
}

.mobile-out {
  display: block;
}
.circle-text {
  position: absolute;
  font-size: 24px;
  top: 40px;
  right: -40px;
  display: flex;
  align-items: center;
}

.btn-text {
  right: -50px;
}

.arow {
  position: absolute;
  right: 0;
  top: 58px;
}
.h1-text {
  font-weight: 400;
  font-size: 70px;
  color: #030303;
}
.h3-text {
  font-size: 24px;
  color: #030303;
  margin-top: 20px;
  font-weight: 400;
}

.number-text {
  font-size: 144px;
  font-weight: normal;
  color: rgba(70, 177, 201, 1);
  margin-right: 70px;
}

.we-do-descr {
  display: flex;
  flex-direction: column;
}
#form {
  padding: 40px;
}

#form .form-group {
  margin: 10px 0 30px;
}

.big-message {
  min-height: 150px;
  outline: none;
}

#form input,
#form textarea {
  width: 100%;
  color: black;
  min-height: 40px;
  background: transparent;
  border: none;
  appearance: none;
  border-bottom: 1px solid gray;
  resize: none;
  margin-top: 20px;
  outline: none;
}
#form textarea {
  min-height: 150px;
}

